body{
font-family: 'Quicksand', sans-serif;
}



#about, #project,#education{
    padding-top: 80px;
}
.navbar-style{
    background: #ffddaf;
   padding-top:1rem;

}

li{
    display: inline-block;
    font-size: 10px;
    font-weight: 800;

}
.nav-style{
    color: #453835;
    font-size: 1.3vw;
    padding-left: 11vw;

}


  
  /* inViewport animation transition*/
  
  [data-inviewport="scale-in"] { 
    transition: 1s;
    transform: scale(0.1);
  }
  [data-inviewport="scale-in"].is-inViewport { 
    transform: scale(1);
  }
  


/************* Home section ******************/
#image{
    background-image: url(https://lh5.googleusercontent.com/proxy/RUP6EiOJGOvnPp0tfWZe6OTceuI_6sUDTCIlnmQYHxSRJQqP94CdaGDOxdfPvFiScMIMxQMwTMuA85KFwygaCOwjLDWUBjkC2PJ-eIcNcCVFZIe_o9Pi7njIwvjy8G1--ae3hbzqHsOlb34E5z_Zg0SfUhFEmHYgI9PnCw=w3840-h2160-p-k-no-nd-mv);
    background-repeat: no-repeat;
    background-size: cover;
    display: static;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}
.greating{

    text-align: center;
    padding-top: 20%;

}
.greating h1{
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    background:linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.typewriter{
    text-align: center;
    display: inline-block;
  	overflow: hidden;
 	animation: typing 2s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;

    border-right: 4px solid black;
    box-sizing: border-box;
 

}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink-caret {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #D5C3A9; 
    }
}

/************* About section ******************/
#about,#education,#study{
    background: rgba(255,221,175,.3)

    
}
.center{
text-align: center;
}
.intro-image{
    width: 300px;
    margin: auto auto;
}

.about-name{
    margin-top: 1rem;
}

.skill-header{
    font-family: 'Playfair Display', serif;

    color: #453835;
    font-size: 40px;
    margin-top: 2rem;
    
}
.about-header, .project-header, .contact-header{
   
    display: inline-block;
    border-style: double;

    border-width: 4px;
    border-color: black;
    padding: 10px 10px;
}
.web-dev,.ux,.others{
    margin: 80px;
}
.webDev {
    background: #fcb9b1;
    border: 1px solid black;
    color: white;
 
}

.ui_ux {
    background: #f6fdee;
    border: 1px solid black;
    margin-top: 10%;
}

.other {
    background: #ffddaf;
    border: 1px solid black;
    margin-top: 3%;
}
.webDev, .ui_ux, .other {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    padding: 1vh;
    font-size: 18px;
    text-align: center;
    line-height: 17px !important;
    border-radius: 25px;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    float: left;
    margin-top: 0.8vh;
    margin-left: 0.5vw;
}
 .ui_ux {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    padding: 1vh;
    font-size: 18px;
    text-align: center;
    line-height: 17px !important;
    border-radius: 25px;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    float: right;
    margin-top: 0.8vh;
    margin-left: 0.5vw;
}

/************* Project section ******************/
#project, #contact{
    background: rgba(255,221,175,.6)}
.project-card{
   height: 35rem;
    margin-bottom: 30px;
}
.project-header{
    margin-bottom: 40px;
}

.project-language{
    color: #FF914D;
}

/************* Education section ******************/
.course-code{
    background-color:#FECB89 ;
    color: black;
}
.mark-badge{

    font-weight: 700;
    border-radius: 50%;
    font-size: 25px;

}
.study-header{
    display: inline-block;

    border-bottom:4px solid black;
    padding: 10px 10px;
}

#study{
margin-bottom: 3rem;
}

/************* Contact section ******************/
.photo-design{

    background-color: white;

    padding: 2%;
    margin: 2rem;
}
.photo-me{
    border:1px solid black;
}

.contact-form{
    padding: 2%;
    margin: 2rem;
}

.icons{
    width: 10px;
    margin-right: 1rem;
    
}

.contact-detail{
   margin-left: 2rem;
}