body{
    font-family: 'Playfair Display', serif;

}




.profile-pic{
    height: 500px;
    width: auto;
    border: 8px solid white;
}
.home-page{
    height: 100vh;
    width: 100%;
}

.info-card{
    position:absolute;
    left:20%;
    top: 20%;
    right:20%;
    background-color: white;
    padding: 100px;
}

.info-card h1{

    font-size: 70px;
    text-align: center;
    color: #453835;
}

.nav-link{
    color: #453835;
    font-size: 25px;
}



.typewriter{
    text-align: center;
    display: inline-block;
  	overflow: hidden;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    
    border-right: 4px solid black;
    box-sizing: border-box;
 

}

@keyframes typing {
    from { 
        width: 10% 
    }
    to { 
        width: 80% 
    }
}

@keyframes blink-caret {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #D5C3A9; 
    }
}

.webDev, .ui_ux, .pr_management, .other {
    color: #FFFFFF;
    font-family: QucikSand;
    font-weight: bold;
    padding: 0.5vh;
    font-size: 12px;
    text-align: center;
    line-height: 17px !important;
    border-radius: 25px;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    float: left;
    margin-top: 0.5vh;
    margin-left: 0.1vw;
}