body{
font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 72px;
    background:linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



#about, #project,#education{
    padding-top: 80px;
}
.navbar-style{
    background: #fefaf6;
    background:linear-gradient(271deg,#a0e9ff 30%,#a162e8 50%,#f093b0 70%,#edca85 94%);
    padding: 1%;

}

li{
    display: inline-block;
    font-size: 10px;
    font-weight: 800;

}
.nav-style{
    color: #453835;
    font-size: 18px;
    padding-left: 11vw;

}


.background-left{
    background-color: #D5C3A9;
    color:transparent;
    width: 100vh;
    height: 100vh;
}
.background-right{
    background-color: #FDFBFB;
    color:transparent;
    width: 100vh;
    height: 100vh;
}

  
  /* inViewport animation transition*/
  
  [data-inviewport="scale-in"] { 
    transition: 1s;
    transform: scale(0.1);
  }
  [data-inviewport="scale-in"].is-inViewport { 
    transform: scale(1);
  }
  


/************* Home section ******************/

.home-page{
    display: relative;
    height: 100%;
    width: 100%;
}
.info-card{
    font-family: 'Playfair Display', serif;
    position:absolute;
    left:20%;
    top: 20%;
    right:20%;
    background-color: white ;
    opacity: 50%;
    padding: 100px;
    border: 6px double black;
}

.info-card h1{
 
    font-size: 70px;
    text-align: center;
    color: #453835;
}




.typewriter{
    text-align: center;
    display: inline-block;
  	overflow: hidden;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    
    border-right: 4px solid black;
    box-sizing: border-box;
 

}

@keyframes typing {
    from { 
        width: 10% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink-caret {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: #D5C3A9; 
    }
}

/************* About section ******************/
#about{
    background: #fefaf6;
}
.center{
text-align: center;
}
.intro-image{
    width: 300px;
    margin: auto auto;
}
.intro-content{
    text-align: center;
 
}
.about-name{
    margin-top: 1rem;
}

.skill-header{
    font-family: 'Playfair Display', serif;
    color: #453835;
    font-size: 40px;
    margin-top: 2rem;
}
.about-header, .project-header, .contact-header{
   
    display: inline-block;
    border-style: double;

    border-width: 4px;
    border-color: black;
    padding: 10px 10px;
}
.web-dev,.ux,.others{
    margin: 80px;
}
.webDev {
    background: #E6DDC6;
    border: 1px solid #E6DDC6;
 
}

.ui_ux {
    background: #C2B8A3;
    border: 1px solid #C2B8A3;
    margin-top: 10%;
}

.other {
    background: #A19882;
    border: 1px solid #A19882;
    margin-top: 3%;
}
.webDev, .ui_ux, .other {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    padding: 1vh;
    font-size: 18px;
    text-align: center;
    line-height: 17px !important;
    border-radius: 25px;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    float: left;
    margin-top: 0.8vh;
    margin-left: 0.5vw;
}
 .ui_ux {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    padding: 1vh;
    font-size: 18px;
    text-align: center;
    line-height: 17px !important;
    border-radius: 25px;
    transition-duration: 0.4s !important;
    cursor: pointer !important;
    float: right;
    margin-top: 0.8vh;
    margin-left: 0.5vw;
}

/************* Project section ******************/
#project, #contact{
    background: linear-gradient(45deg, #D5C3A9 0%, #FDFBFB 100%);
}
.project-card{
   height: 35rem;
    margin-bottom: 30px;
}
.project-header{
    margin-bottom: 40px;
}

.project-language{
    color: #FF914D;
}

/************* Education section ******************/
.course-code{
    background-color:#ccc3b8 ;
    color: black;
}
.mark-badge{

    font-weight: 700;
    border-radius: 50%;
    font-size: 25px;

}
.study-header{
    display: inline-block;

    border-bottom:4px solid black;
    padding: 10px 10px;
}

#study{
margin-bottom: 3rem;
}

/************* Contact section ******************/
.photo-design{

    background-color: white;

    padding: 2%;
    margin: 2rem;
}
.photo-me{
    border:1px solid black;
}

.contact-form{
    padding: 2%;
    margin: 2rem;
}

.icons{
    width: 10px;
    margin-right: 1rem;
    
}

.contact-detail{
   margin-left: 2rem;
}